/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuración general del body */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main{
    background-color: #E1F5FE;
    }
/* Contenedor centrado */
.container {
    max-width: 900px;
    padding: 20px;
    margin: 0px 8px 0px 0px; 
    width: 100%;
    display:flex;
    flex-direction: row;
}

/* Estilos de la card */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    min-height: 450px;
    margin: 20px 15px auto;
    transition: transform 0.3s ease;
    display: flex;
    
}

.card:hover {
    transform: translateY(-5px);
}

/* Imagen de la card */
.card-image {
    width: 100%;
    height: 200px;
    display: block;
}

/* Contenido de la card */
.card-content {
    padding: 20px;
    text-align: center;
    
}

/* Título de la card */
.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

/* Descripción de la card */
.card-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

/* Botón de la card */
.card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;    
}

.card-button:hover {
    background-color: #0056b3;
}

/* Media queries para responsividad */
@media (max-width: 600px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
    .card {
        max-width: 65%;
        max-height: 20%;
        margin: 8px;
        padding: 5px;
            }

    .card-title {
        font-size: 1.2rem;
    }

    .card-description {
        font-size: 0.9rem;
    }

    .card-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}